# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\CAMPUS STUFF (DO NOT DELETE)\1st YEAR\Practice\2nd Semeser\Programming Principles 02\PP 02 COURSEWORKS FINAL TO BE SUBMIT\CW_ 01\TrainSeatBookingSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
